<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Designated Donuts</title>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/review.css'>
  <script src="https://kit.fontawesome.com/44f557ccce.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div class="top-navigation-container-bar">
    
        <div class="left-side-container-box-for-logo">
            <img src="/static/images/Donut_Icon_Logo.png"
                 alt="Donut Destination Icon"
                 height="400px"
                 width="400px">
    
            <span class="logo-title-text">Donut Destination</span>
        </div>
    
    
        <!-- Hamburger button -->
        <button class="toggle-menu" onclick="toggleMenu()">
            <i class="ri-menu-line"></i>
        </button>
    
    
        <div class="right-side-nav-options" id="nav-menu">
    
            {% if "user_id" in session %}
                <!-- User is logged in -->
                <a class="login-page-action-btn" href="{{ url_for('logout') }}">
                    <i class="ri-user-line"></i>
                    <span class="btn-content-text">Logout</span>
                </a>
            {% else %}
                <!-- User is not logged in -->
                <a class="login-page-action-btn" href="{{ url_for('login_page') }}">
                    <i class="ri-user-line"></i>
                    <span class="btn-content-text">Login</span>
                </a>
            {% endif %}
    
    
            <div>
                <a class="home-page-action-btn" href="{{ url_for('home_page') }}">
                    <i class="ri-home-3-line"></i>
                    <span class="btn-content-text">Home</span>
                </a>
            </div>
    
    
            <div>
                <a class="about-page-action-btn" href="{{ url_for('about_page') }}">
                    <i class="ri-info-i"></i>
                    <span class="btn-content-text">About</span>
                </a>
            </div>
    
    
            <div>
                <a class="orders-page-action-btn" href="{{ url_for('order_page') }}">
                    <i class="ri-inbox-archive-line"></i>
                    <span class="btn-content-text">Orders</span>
                </a>
            </div>
    
    
            <div>
                <a class="reviews-page-action-btn" href="{{ url_for('review_page') }}">
                    <i class="ri-question-answer-line"></i>
                    <span class="btn-content-text">Reviews</span>
                </a>
            </div>
    
    
            <div>
                <a class="cart-page-action-btn" href="{{ url_for('cart_page') }}">
                    <i class="ri-shopping-cart-line"></i>
                </a>
            </div>
    
        </div>
    </div>    
    
    <script src="{{ url_for('static', filename='javascript/toggle.js') }}"></script>

    <div class="total">
        <div class="rev-section">

            <h2 class="title">Our Guests Love Us</h2>
            <p class="note">Be honest and respectful. Do not include offensive, abusive, or threatening language.</p>

                <div class="reviews">

                    {% for review in reviews %}
                    <div class="review">
                        <div class="head-review">
                            <img src="https://cdn.phototourl.com/free/2026-08-06-c388535c-cd30-4345-9b4a-fafa1028110c.png" width="250px">
                        </div>

                        <div class="body-review">

                            <div class="name-review">
                                {{ review[0] }}
                            </div>

                            <div class="place-review">
                                New Zealand
                            </div>

                            <div class="rating">
                                {{ review[2] }}/5
                            </div>

                            <div class="desc-review">
                                {{ review[1] }}
                            </div>
                        </div>
                </div>
                {% endfor %}
                    
            </div>

        </div>
        <button class="review-button"onclick="window.location.href='{{ url_for('feedback_page') }}'">
        Add a Review
        </button>
    </div>

</body>
</html>