<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designated Donuts</title>
    <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div class="top-navigation-container-bar">
    
        <div class="left-side-container-box-for-logo">
            <img src="/static/images/Donut_Icon_Logo.png"
                 alt="Donut Destination Icon"
                 height="400px"
                 width="400px">
    
            <span class="logo-title-text">Donut Destination</span>
        </div>
    
    
        <!-- Hamburger button -->
        <button class="toggle-menu" onclick="toggleMenu()">
            <i class="ri-menu-line"></i>
        </button>
    
    
        <div class="right-side-nav-options" id="nav-menu">
    
            {% if "user_id" in session %}
                <!-- User is logged in -->
                <a class="login-page-action-btn" href="{{ url_for('logout') }}">
                    <i class="ri-user-line"></i>
                    <span class="btn-content-text">Logout</span>
                </a>
            {% else %}
                <!-- User is not logged in -->
                <a class="login-page-action-btn" href="{{ url_for('login_page') }}">
                    <i class="ri-user-line"></i>
                    <span class="btn-content-text">Login</span>
                </a>
            {% endif %}
    
    
            <div>
                <a class="home-page-action-btn" href="{{ url_for('home_page') }}">
                    <i class="ri-home-3-line"></i>
                    <span class="btn-content-text">Home</span>
                </a>
            </div>
    
    
            <div>
                <a class="about-page-action-btn" href="{{ url_for('about_page') }}">
                    <i class="ri-info-i"></i>
                    <span class="btn-content-text">About</span>
                </a>
            </div>
    
    
            <div>
                <a class="orders-page-action-btn" href="{{ url_for('order_page') }}">
                    <i class="ri-inbox-archive-line"></i>
                    <span class="btn-content-text">Orders</span>
                </a>
            </div>
    
    
            <div>
                <a class="reviews-page-action-btn" href="{{ url_for('review_page') }}">
                    <i class="ri-question-answer-line"></i>
                    <span class="btn-content-text">Reviews</span>
                </a>
            </div>
    
    
            <div>
                <a class="cart-page-action-btn" href="{{ url_for('cart_page') }}">
                    <i class="ri-shopping-cart-line"></i>
                </a>
            </div>
    
        </div>
    </div>
    
    
    <img src="/static/images/background.png" alt="" class="bg3">
    
    
    <script src="{{ url_for('static', filename='toggle.js') }}"></script>
</body>
</html>